# Compiled class files
*.class

# Compiled jar files
*.jar

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# IntelliJ IDEA specific
.idea/
*.iml
*.iws
out/

# Maven
target/

# Gradle
build/
.gradle/